@import "../../../scss/variables";

.user {
  cursor: pointer;
  padding: 15px 25px 0 25px;
  display: flex;
  position: relative;
  &:hover {
    .user-info {
      .user-info-footer {
        color: $text-color-light;
      }
    }
    background-color: #2473da;

  }
  .user-picture {
    & > img {
      height: 40px;
      width: 40px;
      display: block;
      border-radius: 50%;
    }
    &::before {
      position: absolute;
      content: "";
      display: block;
      height: 6px;
      width: 6px;
      background-color: greenyellow;
      border: 3px solid black;
      border-radius: 50%;
    }
  }
  .user-info {
    margin-left: 15px;
    border-bottom: 0.5px solid gray;
    width: 100%;
    .user-info-header {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      color: $text-color-light;
      & > h3 {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .user-info-footer {
      color: $text-color-dark;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      & > p {
        font-size: 13px;
      }
    }
  }
}
.activeUser {
  .user-info {
    .user-info-footer {
      color: $text-color-light !important;
    }
  }
  background-color: #2473da !important;
}