@import "../../../../scss/variables";

.team-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 5px;
  color: $text-color-dark;
  &.active {
    color: white;
  }
  &:hover {
    cursor: pointer;
    color: snow;
  }
}

