@import "../../scss/variables";

.groups-list {
  width: 250px;
  min-height: 100vh;
  background-color: $dark30;
  padding: 10px 30px;
  .groups-list-teams {
    margin-top: 15px;
    margin-bottom: 40px;
    .groups-list-teams-create {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .groups-list-teams-icon {
      @include icon;
    }
  }
  .groups-list-channels {
    .groups-list-channels-create {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .groups-list-channels-icon {
      @include icon;
    }
  }

}